.textContainer {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
}

.profileImage {
    width: 20rem;
    height: 20rem;

    
}

@media only screen and (max-width: 800px) {
    .profileImage {
        width: 15rem;
        height: 15rem;
    }
}

@media only screen and (max-width: 700px) {
    .profileImage {
        width: 10rem;
        height: 10rem;
    }
}